html {
    font-size: 100%;
    margin-left: 100px;
}

body {
    margin: 0;
    padding: 0;
    @include bodyFontReg;
    font-size: 1rem;
    background-color: $backgroundGrey;
    color: $black;
}

h1 {
    @include accentFontBold;
    font-size: 4.5rem;
    color: $white;
}

h2 {
    @include bodyFontLight;
    font-size: 1rem;
    text-transform: uppercase;
    color: $headerGrey;
}

h3 {
    @include bodyFontMed;
    font-size: 1rem;
    color: $black;
}

h4 {
    @include accentFontBold;
    font-size: 2rem;
    color: $teal;
}


a {
    color: inherit;
    text-decoration: none;
}

//icons
.launch {
    font-size: 1.2rem !important;
    vertical-align: text-bottom;
}