html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    @include bodyFontReg;
    font-size: 1rem;
    color: $black;
}

h1 {
    @include accentFontBold;
    font-size: 4.5rem;
    color: $white;
    margin: 0;
}

h2 {
    @include bodyFontLight;
    font-size: 1rem;
    text-transform: uppercase;
    color: $headerGrey;
}

h3 {
    @include bodyFontMed;
    font-size: 1rem;
    color: $black;
    margin: 0;
}

h4 {
    @include accentFontBold;
    font-size: 2rem;
    color: $teal;
    margin: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 1.4em;
}

ul {
    list-style-type: none;
    padding: 0;
}

//icons
.ion-icon {
    font-size: 1.2rem;
    vertical-align: text-bottom;
}

.technologies {
    .ion-icon {
        font-size: 3.5rem;
    }
}

footer {
    .ion-icon {
        font-size: 2.2rem;
        margin: 10px;
    }
}

.launch {
    font-size: 1.2rem !important;
    vertical-align: text-bottom;
}

