//Navigation bar cross-device
nav {
    display: flex;
    color: $white;
    position: sticky;
    a {
        &:hover {
            color: $headerGrey;
        }
        &.current {
            color: $navBlue;
        }
    }
    #blogLink {
        @include bodyFontMed;
    }
}

//Navigation bar desktop
@include breakpoint-up(medium) {
    nav {
        justify-content: flex-end;
        margin: 30px;
        top: 30px;
        a {
            margin-left: 50px;
        }
        #blogLink {
            margin-left: 120px;
        }
    }
}




//Header and introduction
.header {
    color: $white;
}

.tagline {
    @include accentFontReg;
    font-size: 1.75rem;
    em {
        font-style: normal;
        @include accentFontBold;
    }
}

.intro {
    @include bodyFontLight;
}