//Navigation bar cross-device
nav {
    display: flex;
    color: $white;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    a {
        &:hover {
            color: $headerGrey;
        }
        &.current {
            color: $navBlue;
            pointer-events: none;
        }
    }
    .blogLink {
        @include bodyFontMed;
    }
}



//Navigation bar desktop
@include breakpoint-up(medium) {
    nav {
        justify-content: flex-end;
        padding: 30px;
        a {
            margin-left: 50px;
        }
        .hamburger {
            display: none;
        }
        .blogLink {
            margin-left: 120px;
        }
    }

}


//Navigation bar mobile and tablet
@include breakpoint-down(medium) {
    nav {
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        a {
            margin-top: 20px;
        }
    }
    .hamburger {
        display: block !important;
        order: -1;
        cursor: pointer;
        text-decoration: none;
        &:active {
            color: $navBlue;
        }
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
}

//nav bar on scroll
.nav-beneath-header {
    background-image: url(/images/header-image-1920x1440.jpg);
    position: sticky;
}

//Header and introduction desktop
.headerImage {
    position: relative;
    z-index: -1;
    top: 0;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-image: url(/images/header-image-1920x1440.jpg);
    background-position: top;
}

.headerText {
    float: left;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 9.375rem;
    margin-right: 40vw;
    max-width: 1000px;
    .tagline {
        @include accentFontReg;
        font-size: 1.75rem;
        em {
            font-style: normal;
            @include accentFontBold;
        }
    }
    .intro {
        @include bodyFontLight;
    }
}

//Header and introduction tablet
@include breakpoint-down(medium) {
    .headerText {
        margin: 5rem;
        justify-content: center;
    }
}

//Header and introduction mobile
@include breakpoint-down(small) {
    .headerText {
        margin: 1.25rem;
        .tagline {
            font-size: 1.3rem;
        }
    }
    h1 {
        font-size: 2rem;
    }
}


//Technologies
.technologies {
    background-color: $backgroundGrey;
    width: 100%;
    min-height: 20vh;
    position: static;
    h2, ul {
        margin: 0;
        padding: 1rem 9.375rem;
    }
    ul {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-top: 5px;
    }

}

//Technologies tablet
@include breakpoint-down(medium) {
    .technologies {
        h2, ul {
            margin: 0;
            padding: 1rem 5rem;
        }
        ul {
            justify-content: space-between;
            padding-top: 3px;
        }
    }
}

//Technologies mobile
@include breakpoint-down(small) {
    .technologies {
        h2, ul {
            margin: 0;
            padding: 1rem 1.25rem;
        }
        ul {
            flex-wrap: wrap;
            align-content: center;
            align-items: flex-start;
            li {
                flex: 1 0 30%;
                margin: 5px;
            }
        }
    }
}



