//Navigation bar cross-device
nav {
    display: flex;
    color: $white;
    position: sticky;
    top: 30px;
    z-index: 1;
    a {
        &:hover {
            color: $headerGrey;
        }
        &.current {
            color: $navBlue;
            pointer-events: none;
        }
    }
    .blogLink {
        @include bodyFontMed;
    }
}



//Navigation bar desktop
@include breakpoint-up(medium) {
    nav {
        justify-content: flex-end;
        margin: 30px;
        a {
            margin-left: 50px;
        }
        .hamburger {
            display: none;
        }
        .blogLink {
            margin-left: 120px;
        }
    }

}



//Navigation bar mobile and tablet
@include breakpoint-down(medium) {
    nav {
        flex-direction: column;
        align-items: flex-end;
        margin: 15px;
        a {
            margin-top: 20px;
        }
    }
    .hamburger {
        display: block !important;
        order: -1;
        margin: 20px 20px 0px 0px;
        cursor: pointer;
        text-decoration: none;
        &:active {
            color: $navBlue;
        }
    }
    .show {
        display: block;
    }
    .hide {
        display: none
    }
}


//Header and introduction desktop
.headerImage {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-image: url(/images/header-image-1920x1440.jpg);
    margin-bottom: 0px;
}

.headerText {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 9.375rem;
    margin-right: 40vw;
    .tagline {
        @include accentFontReg;
        font-size: 1.75rem;
        em {
            font-style: normal;
            @include accentFontBold;
        }
    }
    .intro {
        @include bodyFontLight;
    }
}

//Header and introduction tablet
@include breakpoint-down(medium) {
    .headerText {
        margin: 5rem;
        justify-content: center;
    }
}

//Header and introduction mobile
@include breakpoint-down(small) {
    .headerText {
        margin: 1.25rem;
        .tagline {
            font-size: 1.3rem;
        }
    }
    h1 {
        font-size: 2rem;
    }
}


//Technologies
.technologies {
    background-color: $backgroundGrey;
    width: 100%;
    min-height: 20vh;
    position: absolute;
    top: 100%;
    h2, ul {
        margin: 1rem 9.375rem;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

}

#projects {
    position: relative;
    top: 800px;;
}