html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  position: absolute;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  color: #232121;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1F6C84;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.4em;
}

.launch {
  font-size: 1.2rem !important;
  vertical-align: text-bottom;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

nav a:hover {
  color: #232121;
}

nav a.current {
  color: #87FDFD;
  pointer-events: none;
}

nav .blogLink {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@media (min-width: 40em) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 30px;
  }
  nav a {
    margin-left: 50px;
  }
  nav .hamburger {
    display: none;
  }
  nav .blogLink {
    margin-left: 120px;
  }
}

@media (max-width: 63.9375em) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 15px;
  }
  nav a {
    margin-top: 20px;
  }
  .hamburger {
    display: block !important;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 20px 20px 0px 0px;
    cursor: pointer;
    text-decoration: none;
  }
  .hamburger:active {
    color: #87FDFD;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}

.headerImage {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-image: url(/images/header-image-1920x1440.jpg);
}

.headerText {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 9.375rem;
  margin-right: 40vw;
}

.headerText .tagline {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}

.headerText .tagline em {
  font-style: normal;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}

.headerText .intro {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media (max-width: 63.9375em) {
  .headerText {
    margin: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 39.9375em) {
  .headerText {
    margin: 1.25rem;
  }
  .headerText .tagline {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */